
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    margin-top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 15px;
    z-index: 10;
}
header .top-link a{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-family: sans-serif;
    margin-bottom: 12px;
    padding-right:0 ;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img{
    width: 150px;
    height: 150px;
}
.logo ul{
    display: flex;
    align-items:center;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
   margin-left: 20px;
   
}
.logo ul li a{
    text-decoration: none;
    padding:8px 10px;
    font-size: 13px;
    font-weight: 400;
    color: black;
    font-weight:bold ;  
}
.video-container{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}
.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover; 
  z-index: -1;
} 

.video-content{
    margin-top: 350px;
    margin-left: 100px;
    font-weight: bolder;
    font-family: sans-serif; 
    line-height: 5px; 
    
}
.video-content ul {
    display: flex;
    justify-content:flex-start;
    list-style: none;
    align-items: center;
    margin-left: 5px;  
    flex-direction: row;
    gap: 30px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: 12px;

}
.video-content li a{
    color:black; 
    text-decoration: none;   
    font-family: sans-serif;
}
#li{
    text-decoration: underline;
    flex-direction: row;
}

.btn{
    display: inline-block;
    border: 1px;
    padding: 15px 20px;
    border-color: black;
    border-radius: 25px;
    border-style: solid ;
    width: 70px;
    height: 30px;
    margin-left: 10px;
}
.btn:hover {
  background-color: black;
  color: white;
}
.bg img{
    margin-top:250px;
}
.optionsdiv1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height:300px ;
    margin-top: 60px;  
}
.card{
    padding: 25px;
    background: #f8f5f5;
    height: 400px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pop-image{
    width: 250px;
    height: auto;
    margin-top: 50px;
    
}
.pop-image1{
    width: 250px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.pop-image2{
    width: 200px;
    height: auto;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
}
.pop-image3{
    height: 250px;
    width: auto;
    margin-top: 0;
    margin-bottom: 10px;
}
.pop-image4{
    margin-top: 40px;
    width: 180px;
    height: auto;
    margin-bottom: 30px;
}
.pop-rgb{
    height: auto;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card button{
    border: 1px solid black;
    border-radius: 20px;
    background: #000;
    opacity: 0;
    transition: 0.7s;
    padding: 10px;
    width: 80px;
    transform: translateY(20px);
    margin-bottom: 30px;
}
.card .btn2{
    border: 1px solid black;
    border-radius: 20px;
    background: #000;
    opacity: 0;
    transition: 0.7s;
    padding: 10px;
    width: 80px;
    transform: translateY(20px);
}
.card:hover button{
    opacity: 1;
    color: white;
    transform: translateY(0);
}
.card h3{

    text-align: center;
    font-family: sans-serif;
}
.card:hover .pop-image {
    transform: scale(1.1); 
    transition: 0.7s;
}
.card:hover .pop-image2 {
    transform: scale(1.1); 
    transition: 0.7s;
}
.card:hover .pop-image3 {
    transform: scale(1.1); 
    transition: 0.7s;
}
.card:hover .pop-image4 {
    transform: scale(1.1); 
    transition: 0.7s;
}
.card:hover .pop-rgb {
    transform: scale(1.1); 
    transition: 0.7s;
}
.optionsdiv1 p{
    margin-top: 30px;
}
h1{
    font-family: sans-serif;
    font-size: 40px;
    
}
.bgimg{
    margin-top: 70px;
}
.bottom-line{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    font-family: sans-serif;
    gap: 110px;
    margin-top: 50px;
    line-height: 25px;
}
.bottom-line .price{
    font-weight:bold;

}
.mrp{
    color: #838080;
}
.last{
    margin-top: 50px;
    background: #eeebeb;
    padding:10px;
    font-size: 12px;
    color: #3d3c3c;
    font-family: sans-serif;
    line-height: 30px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.column {
    flex: 1;
    padding: 20px 22px;
    border-right: 1px solid #dddddd;
    width: 100%;
}

.column h3 {
    font-size: 16px;
    margin: 0 0 25px 0;
    font-family: sans-serif;
}

.column a {
    display: block;
    text-decoration: none;
    color: #111;
    font-size: 13px;
    margin-bottom: 16px;
    font-family: sans-serif;
}

.column a:hover {
    text-decoration: underline;
}

.about {
    margin-top: 35px;
}

.copyright {
    padding: 20px;
    font-size: 12px;
    border-bottom:1px solid #ddd;
    font-family: sans-serif;
    color: #494747;
    
}
.copyright p a{
    text-decoration: none;
    color: rgb(39, 61, 255);
}
.last-line{
    display: flex;
    border-top: #ddd 1px solid;
    padding: 10px;
    font-family: sans-serif;

}
.last-links a{
    text-decoration: none;
    color: #3d3c3c;
    margin-right:25px ;

}
.icons a img{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}
.icons {
    display: flex;
    margin-left: auto;
    gap: 10px;
    text-decoration: none;
}
.icons a{
    text-decoration: none;
    color: #3d3c3c;
}













